@{
    string sDemoUser = ViewBag.sDemoUser;
    string sConfigValue = ViewBag.sConfigValue;
    string sGoogle = ViewBag.sGoogle;

}
<h3>demo config</h3>

<p>@sDemoUser</p>
<p>@sConfigValue</p>
<p>@sGoogle</p>